html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem=10px*/
}
*, *::before, *::after {
    box-sizing: inherit;
}

/*globales*/
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    /*line-height hace el interlineado (2 es el valor preferible)*/
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto; /*margin-inline: auto*/
}

img {
    max-width: 100%;
    display: block; /*sin espacio entre imagen y texto de abajo*/
}
.btn {
    background-color: #8cbc00;
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: none;
}
.btn:hover {
    background-color: #769c02;
    cursor: pointer;
}
/*utilidades*/
.text-center {
    text-align: center;
}
.max-width-30 {
    max-width: 30rem;
}
/*header y navegacion*/

.nombre-sitio {
    margin-top: 5rem;
    
    text-align: center;
    
}

.nombre-sitio span{
    color: #037bc3;
}

.contenedor-navegacion {
    border-top: .1rem solid #e1e1e1;
}

.nav-principal{
    
    padding: 2rem 0;
    display: flex; /*flex solo afecta al primer nivel de hijos*/
    flex-direction: row;
    justify-content: space-between;
}

.hero {
    background-image: url(../images/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/*Categorias*/
.categorias {
    padding-top: 5rem;
}
.categorias h2 {
    text-align: center;
}

.categoria a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover {
    background-color: #037bc3;
    color: white;
    border-bottom-right-radius: 1rem;
}

.listado-categorias {
    display: grid;
    /*grid-template-columns: repeat(4, 200px) /*200px 200px 200px 200px */;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem /*separacion entre elementos*/
}

/*bloque nosotros*/
.sobre-nosotros {
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../images/nosotros.jpg);
    padding: 10rem 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    
}

.sobre-nosotros-grid {
    display: flex;
    justify-content: flex-end;
}

.texto-nosotros {
    flex-basis: 50%;
    padding-left: 10rem;
    color: white;
}

/*listado de productos*/

.contenido-principal {
    padding: 2rem;
}
.listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem
}
.producto:nth-child(1) {
    grid-column: 1/7; /*toma desde la linea 1 a la 7, o sea todo*/
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(2){
    grid-column: 1/4;
}
.producto:nth-child(2) img ,
.producto:nth-child(3) img ,
.producto:nth-child(4) img ,
.producto:nth-child(5) img ,
.producto:nth-child(6) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(3){
    grid-column: 4/7;
}
.producto:nth-child(4){
    grid-column: 1/3;
}

.producto:nth-child(5){
    grid-column: 3/5;
}
.producto:nth-child(6){
    grid-column: 5/7;
}
.producto {
    background-color: #037bc0;
}
.texto-producto {
    text-align: center;
    color: white;
    padding: 2rem;
    
}
.texto-producto p {
    margin: .5 rem 0;
}
.texto-producto h3 {
    margin:0;
}
.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

/*footer*/
.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding: 5rem;
}
.site-footer h3 {
    margin-bottom: .5rem;
}
.grid-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem
}
.footer-menu a {
    display: block;
}
.copyright {
    text-align: center;
}
/*nosotros*/
.contenido-nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 4rem;
}
.informacion-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*blog*/
.contenedor-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}
.entrada {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}
.entrada:last-of-type {
    border: none
}
.entrada-meta{
    display: flex;
    justify-content: space-between;
}
.entrada-meta p {
    font-weight: 700;
}
.entrada-meta span {
    font-weight: 900;
    color: #037bc0;
}
.contenido-entrada-blog {
    width: 60rem;
    margin: 0 auto;
}
/*galeria*/
.galeria {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem
}
.galeria img {
    height: 40rem;
    width: 40rem;
    object-fit: cover
}

/*formulario*/
.formulario {
    max-width: 60rem;
    margin: 0 auto;
}
.formulario fieldset {
    border: 1px solid black;
    margin-bottom: 2rem;
}
.formulario legend {
    background-color: #005485;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;
    
}
.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo label{
    flex-basis: 10rem;
}
/*.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="email"],
.campo input:not([type="radio"]) 
textarea {
    flex: 1; 
    border: 1px solid #e1e1e1;
    padding: 1rem;
}*/

.campo input:not([type="radio"]),/*para no seleccionar al type radio*/
.campo textarea,
.campo select {
    flex: 1; /*factor de crecimiento*/
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

/*.grid-footer {
    display: flex; 
    gap: 2rem
}
.grid-footer div {
    flex: 1; 
}
.grid-footer div:nth-child(2){
    flex: 3;
}*/

    /*  inline: uno a la derecha tomando su espacio, no se puede poner  width y height
        inline-block: a la derecha y se puede poner width y height
        block: abajo, se puede poner width y height
    */


/*
.navegacion a {
    text-transform: lowercase;
}

#navegacion a {
    text-transform: capitalize;
}
*/

/*  
    jerarquia de peso
    etiqueta(nav por ejemplo) es el mas bajo
    . es para clase
    # es para id
*/